html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#application {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
}

#url-bar {
  width: 600px;
  position: absolute;
  text-align: center;
  margin-top: 5px;
  left: 50%;
  margin-left: -300px;
}

#url-box, #url-save-button {
  height: 30px;
  box-sizing: border-box;
  margin: 3px auto;
}

#url-box {
  width: 500px;
  margin-right: 2px;
  border-radius: 4px;
  margin-right: 2px;
  padding: 0 4px;
  border: 1px none;
  border-style: inset;
  color: #555;
}

#url-save-button {
  padding: 6px 12px;
}
